.layout {
	padding: {
		left: 10%;
		right: 10%;
		top: 30px;
		bottom: 30px;
	}

	.topics {
		margin: 20px 0;
	}

	.languages {
		margin: 20px 0;
	}

	table {
		display: table;
		width: 100%;

		thead {
			th {
				white-space: nowrap;
			}
		}
	}
}