
/* https://html5book.ru/html-lists/ */
ol.LinkCollection {
	/* Убираем стандартную нумерацию.
	Идентифицируем счетчик и даем ему имя li.
	Значение счетчика не указано - по умолчанию оно равно 0 */
	list-style: none;
	counter-reset: li;
	ol.SubLinkCollection {
		list-style: none;
		counter-reset: li;
	}

	li:before {
		color: gray;

		/* Определяем элемент, который будет нумероваться — li.
		Псевдоэлемент before указывает, что содержимое, вставляемое
		при помощи свойства content, будет располагаться перед пунктами списка.
		Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
		counter-increment: li;

		/* С помощью свойства content выводится номер пункта списка. counters()
		означает, что генерируемый текст представляет собой значения всех счетчиков
		с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами,
		а точка с пробелом добавляется перед содержимым каждого пункта списка */
		content: counters(li, ".") ". ";
	}

	// Настройка всех ссылок.
	a:hover {
		text-decoration: none;
	}
	>li {
		>a {
			color: black;
			font-weight: bold;
		}
	}

	// Настройка ширины нумерации пунктов дерева.
	>li {
		&:before {
			width: 18px;
			display: inline-block;
		}
	}
	ol.SubLinkCollection {
		>li {
			&:before {
				width: 30px;
				display: inline-block;
			}
		}
	}
}